doctype html
html
    head
        link(rel='stylesheet' href='/css/newuser.css' type="text/css")
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Merriweather|Poppins&display=swap')
        title User Manager
    body
        .mainContainer
            .top
                .containerTitle Search Result
            .middle
              p.inputLabel= userData.first_name
              p.inputLabel= userData.last_name
              p.inputLabel= userData.email
              p.inputLabel= userData.birth_date
              p.inputLabel= userData.password

            .bottom
              button.inputSubmit(type='button' class="editButton" onclick=`goHome()`) Return Home